body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

h3,
a {
    font-size: 25px;
    background-color:deepskyblue;
    color: greenyellow;
}

section,
h1 {
    text-align: center;
}

